body {
  font-family: sans-serif;
}

header{
  background-color: #278FAE;
  color: white;
  margin-bottom: 30px;
}

h1 {
  text-transform: uppercase;
  padding: 5% 0 0 10%;
  font-size: 40px;
}

h2 {
  font-weight: normal;
  padding: 0 10%;
}

h3 {
  text-transform: uppercase;
  color: #323232;
}

header nav {
  background-color: #E8E8E8;
  color: #323232;
  padding: 30px;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

header nav a {
  color: #323232;
  text-decoration: none;
  padding: 0 15px;
}

aside {
  float: right;
  width: 30%;
  margin: 0 3em 3em 3em;
}

aside img {
  width: 100%;
}

a {
  color: #49B0CE;
  text-decoration: none;
}

.main {
  padding-left: 30px;
}

.intro-text {
  color: #278FAE;
  font-size: 20px;
  font-weight: bold;
}

.quote {
  font-size: 18px;
  color: #49B0CE;
  font-weight: 100;
}

.quote .name {
  display: block;
  font-weight: 100;
}

footer {
  clear: both;
  text-align: center;
  background-color: #323232;
  color: white;
  padding: 50px;
}

footer nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

footer nav a {
  color: white;
  text-decoration: none;
  padding: 0 15px;
}

footer img {
  width: 40%;
}
